body {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 75%);
    background-size: cover;
    font-family: arial;
}

div.signup{
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,.5) ;
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}
div.loginInputsContainer{
    margin-top: 30px;
}

div.loginInputsContainer label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

div.loginInputsContainer input {
    height: 30px;
    width: 100%;
    border: 2px solid #d40339;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}